<?xml version="1.0" encoding="windows-1252"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Product Name="FIDE" Id="*" UpgradeCode="9c09a374-1135-4782-959f-2dec376a1dfa" Language="1033" Codepage="1252" Version="0.4.6" Manufacturer="FIDE">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine"/>
        <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A newer version of [ProductName] is already installed."/>
        <Icon Id="fide.exe" SourceFile=".\extra\windows\fide.ico"/>
        <WixVariable Id="WixUILicenseRtf" Value=".\extra\windows\wix\license.rtf"/>
        <Property Id="ARPPRODUCTICON" Value="fide.exe"/>
        <MediaTemplate EmbedCab="yes"/>
        <UIRef Id="WixUI_Minimal"/>

        <Feature Id="ProductFeature" Title="ConsoleApp" Level="1">
            <ComponentRef Id="FIDEExe"/>
            <ComponentRef Id="FIDEShortcut"/>
            <ComponentRef Id="ModifyPathEnv"/>
            <ComponentRef Id="ContextMenu"/>
        </Feature>

        <!-- Create directories -->
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="FIDEProgramFiles" Name="FIDE"/>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="FIDEProgramMenu" Name="FIDE"/>
            </Directory>
        </Directory>

        <!-- Application binaries -->
        <DirectoryRef Id="FIDEProgramFiles">
            <Component Id="FIDEExe" Guid="*">
                <File Id="FIDEExeFile" Source=".\target\release-lto\fide.exe" Name="fide.exe" KeyPath="yes"/>
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="FIDEProgramMenu">
            <!-- Application shortcut -->
            <Component Id="FIDEShortcut" Guid="7d3d3a8e-febb-4759-8eca-873676d5066a">
                <Shortcut Id="FIDEShortcutFile" Icon="fide.exe" Name="FIDE" Description="Lightning-fast and Powerful Code Editor" Target="[FIDEProgramFiles]fide.exe"/>
                <RemoveFolder Id="FIDEProgramMenu" On="uninstall"/>
                <RegistryValue Root="HKCU" Key="Software\Microsoft\FIDE" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="FIDEProgramFiles">
            <!-- Add to PATH -->
            <Component Id="ModifyPathEnv" Guid="0581ccb0-5db8-4935-8b07-8f46bc2d7171" KeyPath="yes">
                <Environment Id="PathEnv" Value="[FIDEProgramFiles]" Name="PATH" Permanent="no" Part="first" Action="set" System="yes"/>
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="TARGETDIR">
            <!-- Add context menu -->
            <Component Id="ContextMenu" Guid="22ad399b-1d77-416c-ae33-57e8f8511177">
                <RegistryKey Root="HKCU" Key="Software\Classes\Directory\Background\shell\Open FIDE here\command">
                    <RegistryValue Type="string" Value="[FIDEProgramFiles]fide.exe &quot;%V&quot;" KeyPath="yes"/>
                </RegistryKey>
                <RegistryKey Root="HKCU" Key="Software\Classes\Directory\Background\shell\Open FIDE here">
                    <RegistryValue Type="string" Name="Icon" Value="[FIDEProgramFiles]fide.exe"/>
                </RegistryKey>
            </Component>
        </DirectoryRef>
    </Product>
</Wix>
